{% extends "base_template.html" %}
{% block user_content %}


    <div class="container-fluid">
        <div class="row">
            <div class="side-menu">
                <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <div class="brand-wrapper">
                            <div class="brand-name-wrapper"><h3>Add Events</h3></div>
                        </div>
                    </div>
                    <!-- Main Menu -->
                    <div class="side-menu-container">
                        <div class="col-md-12">
                            <div class="panel-group" id="dropdown_events">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#dropdown_events" href="#collapseOne"><span class="glyphicon glyphicon-plane"></span> Transport</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-send"></span><a> Fly</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-road"></span><a> Car</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-briefcase"></span><a> Car-Hire</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-globe"></span><a> Walking</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-modal-window"></span><a> Public Transport</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#dropdown_events" href="#collapseTwo"><span class="glyphicon glyphicon-lamp">
                            </span> Accommodation</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-bed"></span><a> Hotel</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-phone-alt"></span><a> Hostel</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tent"></span><a> Camping</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#dropdown_events" href="#collapseThree"><span class="glyphicon glyphicon-flag">
                            </span> Attractions</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-music"></span><a> Local Attractions</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-glass"></span><a> Bars</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-cutlery"></span><a> Restaurant</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tags"></span><a> Shopping</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a id="auto-fill" data-toggle="collapse" data-parent="#dropdown_events" href="#collapseFour"><span class="glyphicon glyphicon-asterisk">
                            </span> Auto Fill</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
    </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="agenda">
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Event</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="agenda-date" class="active" rowspan="1">
                                    <div class="dayofmonth">26</div>
                                    <div class="dayofweek">Saturday</div>
                                    <div class="shortdate text-muted">July, 2014</div>
                        </td>
                        <td class="agenda-time">
                            5:30 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                Fishing
                            </div>
                        </td>
                    </tr>

                    <!-- Multiple events in a single day (note the rowspan) -->
                    <tr>
                        <td class="agenda-date" class="active" rowspan="3">
                            <div class="dayofmonth">24</div>
                            <div class="dayofweek">Thursday</div>
                            <div class="shortdate text-muted">July, 2014</div>
                        </td>
                        <td class="agenda-time">
                            8:00 - 9:00 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Doctor's Appointment
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:15 AM - 12:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Meeting with executives
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            7:00 - 9:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Aria's dance recital
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.9577697739874!2d-89.21424329999999!3d48.457339800000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d5923eaca84fa67%3A0xfd2f9f807114acd4!2s292+Shuniah+St%2C+Thunder+Bay%2C+ON+P7A+3A2!5e0!3m2!1sen!2sca!4v1424272931061" width=100% height="450" frameborder="0" style="border:0"></iframe>

        </div>
		<div class="col-sm-3 col-md-2 sidebar-right">
            <div class="container" id="sidebar_tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#price" data-toggle="tab">Price</a></li>
                    <li><a id="suggested-button" href="#suggested" data-toggle="tab">Suggested Places</a></li>
                </ul>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="price">
                        <div class="row">
                            <div class="col-xs-2">
                                <h4 class="product-name"><strong>Ticket</strong></h4>
                            </div>
                            <div class="col-xs-2 text-left">
                                <h6><strong>£25.00</strong></h6>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-xs-2">
                                <h4 class="product-name"><strong>Ticket</strong></h4>
                            </div>
                            <div class="col-xs-2 text-left">
                                <h6><strong>£25.00</strong></h6>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-xs-2">
                                <h4 class="product-name"><strong>Ticket</strong></h4>
                            </div>
                            <div class="col-xs-2 text-left">
                                <h6><strong>£25.00</strong></h6>
                            </div>
                        </div>
                        <hr>


                    </div>
                    <div class="tab-pane" id="suggested">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div id="auto-fill-dialog" title="Basic dialog">
        <form id="auto-fill-form">
            <fieldset>
                <label for="location">Current Location</label>
                <input type="text" name="location" id="name" placeholder="Location Name" class="text ui-widget-content ui-corner-all">
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>

    <div class="modal"></div>

{% endblock user_content %}

{% block scripts %}
    {{ super() }}
    <script>
        var suggestion_template = `<div class="post"><div class="content"><h4>{0}</h4><p>{1}</p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><div><a href="#" class="btn btn-warning btn-sm">Add to Plan</a></div></div></div>`;
        var star_template


        if (!String.prototype.format) {
            String.prototype.format = function() {
                var args = arguments;
                return this.replace(/{(\d+)}/g, function(match, number) {
                    return typeof args[number] != 'undefined'
                            ? args[number]
                            : match
                            ;
                });
            };
        }

        $(document).ready(function() {
            // Get modal ready

            var $body = $("body");
            $(document).on({
                ajaxStart: function() {  console.log(this)},
                ajaxStop: function() { $body.removeClass("loading"); }
            });

            //AutoFill
            $("#auto-fill").click(function(event){
                event.preventDefault();
                var dialog = $("#auto-fill-dialog").dialog({
                    modal: true,
                    buttons: {
                        "Plan Day": function(){
                            $body.addClass("loading");
                            $.get("{{ url_for('data.auto_fill') }}" +"?" + $('#auto-fill-form').serialize(), function(data, status, jqXHR) {
                                console.log(data);
                                // Close Auto Fill Modal
                                dialog.dialog('close');
                                $body.removeClass("loading");
                                $.get("{{ url_for('data.suggested') }}", function(data, status, jqXHR) {
                                    data['data'].forEach(function(element) {
                                        name = element['name'];
                                        address = element['address'];
                                        stars = element['stars'];
                                        $("#suggested").append(suggestion_template.format(name, address)); // TODO: Stars
                                    });
                                });
                                // Set tab to recommendations tab
                                $('#suggested-button').click();
                            })}},
                        Cancel: function() {
                            dialog.dialog( "close" );
                        }
                });
            });
        });
    </script>
{% endblock scripts %}