{% extends "base_template.html" %}
{% block user_content %}



    <div class="container-fluid">
      <div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">

    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <div class="brand-wrapper">
            <div class="brand-name-wrapper"><h3>Add Events</h3></div>
        </div>

    </div>

    <!-- Main Menu -->
    <div class="side-menu-container">
        <div class="col-md-12">
            <div class="panel-group" id="dropdown_events">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#dropdown_events" href="#collapseOne"><span class="glyphicon glyphicon-plane">
                            </span>Transport</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-send"></span><a>Fly</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-road"></span><a>Car</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-briefcase"></span><a>Car-Hire</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-globe"></span><a>Walking</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-modal-window"></span><a>Public Transport</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#dropdown_events" href="#collapseTwo"><span class="glyphicon glyphicon-lamp">
                            </span>Accommodation</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-bed"></span><a>Hotel</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-phone-alt"></span><a>Hostel</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tent"></span><a>Camping</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#dropdown_events" href="#collapseThree"><span class="glyphicon glyphicon-flag">
                            </span>Attractions</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-music"></span><a>Local Attractions</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-glass"></span><a>Bars</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-cutlery"></span><a>Restaurant</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tags"></span><a>Shopping</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#dropdown_events" href="#collapseFour"><span class="glyphicon glyphicon-asterisk">
                            </span>Auto Fill</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
    </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ul id="sortable">
                <li class="ui-state-default">
                    <table class="table table-condensed table-bordered">
                        <tbody>
                        <td class="agenda-time">
                            5:30 AM
                        </td>
                        <td class="agenda-time">
                            7:00 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Train to London
                            </div>
                        </td
                        </tbody>

                    </table>
                </li>
                <li class="ui-state-default">Item 2</li>
                <li class="ui-state-default">Item 3</li>
                <li class="ui-state-default">Item 4</li>
                <li class="ui-state-default">Item 5</li>
            </ul>
        </div>
		<div class="col-sm-3 col-md-2 sidebar-right">
            <div class="container" id="sidebar_tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#price" data-toggle="tab">Price</a></li>
                    <li><a href="#suggested" data-toggle="tab">Suggested Places</a></li>
                </ul>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="price">
                        <h3>ffd</h3>
                    </div>
                    <div class="tab-pane" id="suggested">
                        <h3></h3>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock user_content %}

{% block scripts %}
    <script>
        $( function() {
            $("#sortable").sortable({
                revert: true
            });
            $("#draggable").draggable({
                connectToSortable: "#sortable",
                helper: "clone",
                revert: "invalid"
            });
            $("ul, li").disableSelection();
            $("#searchbar").autocomplete({
                source:"{{ url_for('main.autocomplete') }}",
                select: function (event, ui){
                    this.value = ui.item.label;
                    $(this).next("input").value(ui.item.value);
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock scripts %}